
Realms file.  Any line without a vertical bar is ignored, also any line WITH a vertical bar that begins with -- or # is ignored

please note that while the first 9 fields are fixed, you can put whatever parameters you want after that, so you can have parameters that are specific to a specific generator



RMG Name         :min x :min y :min z :max x : max y: max z:sealevel:biome func          :other parms
-----------------:------:------:------:------:------:------:--------:--------------------:----------

tg_floaters | -33000 | 300 | -33000 | 33000 | 500 | 33000 | 330 | bm_default_biomes | biome_height_offset = 45 | cave_biomes

#tg_dflat | -32999 | -33000 | -33000 | 33000 | 200 | 33000 | 1 | bm_default_biomes | spawn | geographic_heat
#tg_dflat | -32999 | -33000 | -33000 | 33000 | 200 | 33000 | 1 | bm_default_biomes | geographic_heat

tg_islands | -33000 | -33000 | -33000 | 33000 | 200 | 33000 | 1 | bm_default_biomes | spawn | geographic_heat

tg_rooms | -33000 | -500 | -33000 | 33000 | -33 | 33000 | 1 |  |

# Note that tg_moria will only run as a full chunk (80 x 80 x 80).
#tg_moria | -33000 | -500 | -33000 | 33000 | -33 | 33000 | 1 |  | no_random_teleport

tg_simple_caves | -33000 | -1000 | -33000 | 33000 | -510 | 33000 | 1 | bm_fun_caves_biomes |

tg_flat_caves | -33000 | -1500 | -33000 | 33000 | -1000 | 33000 | 1 | bm_fun_caves_biomes |

tg_simple_caves | -33000 | -33000 | -33000 | 33000 | -1500 | 33000 | 1 | bm_fun_caves_biomes |

tg_intersect | -33000 | -33000 | -33000 | 33000 | -510 | 33000 | 1 | bm_fun_caves_biomes |
tg_intersect | -33000 | -32 | -33000 | 33000 | 200 | 33000 | 1 | bm_fun_caves_biomes |

tg_roads_ruins | -33000 | 0 | -33000 | 33000 | 20 | 33000 | 1 | | 

tg_simple_ores | -33000 | -33000 | -33000 | 33000 | 500 | 33000 | 1 | | 
